# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.GameDemoSceneBuilder.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\UE_Projects\Houdini_Project\GameDemoSceneBuilder\.idea\.idea.GameDemoSceneBuilder.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
